.main-container {
  display: flex;
  justify-content: center;
}

.search-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 700px;
  justify-content: center;
  margin-left: 101px;
}
.search-container .btn {
  background-color: rgba(0, 0, 0, 0.7);
  color: rgb(236, 231, 231);
}
.search-container .btn:hover {
  background-color: rgba(0, 0, 0, 0.9);
  color: rgb(255, 255, 255);
}
.search-container .compare .btn {
  margin-left: 8px;
}
.search-container .compare .btn .fa {
  margin-left: 5px;
  font-size: 12px;
}
.search-container .compare {
  background-color: rgb(247, 242, 242);
  height: 50px;
  margin-bottom: 40px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.search-container .compare .compare-text {
  margin-left: auto;
  margin-right: 10px;
}
.search-container .header {
  text-align: center;
}
.search-container .search {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.search-container .form-control {
  border: 1px solid black;
  margin-top: 15px;
}

.link-margin {
  margin-right: 10px;
}

.list-group {
  margin-top: 20px;
}
.list-group .list-group-item {
  padding: 12px 5px 12px 5px;
  display: flex;
  align-items: center;
}
.list-group .list-group-item .main-list-content {
  max-width: calc(100% - 100px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list-group .list-group-item .company-image {
  max-height: 50px;
}
.list-group .list-group-item .company-name {
  font-size: 20px;
  margin: 0 8px 0 8px;
}

.list-group .list-group-item .company-symbol {
  margin-right: 8px;
  color: gray;
}
.list-group .list-group-item .btn {
  margin-left: auto;
}

.spinner-border {
  display: none;
  margin-left: 20px;
  margin-top: 183px;
}
.display-element {
  display: inline-block;
}
.hide-element {
  display: none;
}
.alert {
  margin-top: 20px;
  text-align: center;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.stock-up {
  color: #2ecc71;
}
.stock-down {
  color: #e74c3c;
}
