.marquee {
  border-bottom: 1px solid black;
  height: 60px;
  white-space: nowrap;
  overflow: hidden;
}
.marquee-container {
  animation: scroll 30s infinite linear;
  /* padding-left: 100%; */
}
.marquee .marquee-item {
  display: inline-block;
  margin-top: 17px;
  margin-left: 25px;
}
.marquee .stock-up {
  margin-left: 5px;
}

@keyframes scroll {
  100% {
    -webkit-transform: translate(-100%, 0);
  }
}
